/* academic.css */

#academic {
  min-height: 100vh;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.academic-title-container h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
  text-decoration: underline;
  text-decoration-color: #a855f7;
  text-underline-offset: 8px;
  text-decoration-thickness: 7px;
}


.academic-subtitle {
  color: #bbb;
  font-size: 1rem;
  margin-top: 0.3rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

/* Timeline */
.academic-background-content {
  position: relative;
  margin-top: 3rem;
  padding-left: 2rem;
  max-width: 900px;
  width: 100%;
  border-left: 2px solid #a855f7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.academic-content-block {
  position: relative;
  background: rgba(255, 255, 255, 0.02);
  padding: 1.5rem 1.8rem;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease;
}

/* Removido: .academic-content-block::before */

.academic-content-block:hover {
  transform: scale(1.015);
}

.academic-content-block h2 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.academic-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.academic-meta h4 {
  color: #c0aaff;
  font-size: 1rem;
}

.academic-years {
  font-size: 0.9rem;
  color: #999;
}

.academic-content-block p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .academic-background-content {
    padding-left: 1.2rem;
  }

  .academic-content-block h2 {
    font-size: 1rem;
  }

  .academic-meta h4,
  .academic-years,
  .academic-content-block p {
    font-size: 0.7rem;
    text-align: justify;
   
  }

  .academic-title-container h1 {
    font-size: 2rem;
  }

  .academic-subtitle {
    font-size: 1rem;
  }
}
